@font-face {
    font-family: 'raleway';
    src: url('fonts/raleway/raleway-bold-webfont.eot');
    src: url('fonts/raleway/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/raleway/raleway-bold-webfont.woff2') format('woff2'),
    url('fonts/raleway/raleway-bold-webfont.woff') format('woff'),
    url('fonts/raleway/raleway-bold-webfont.ttf') format('truetype'),
    url('fonts/raleway/raleway-bold-webfont.svg#ralewaybold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'raleway';
    src: url('fonts/raleway/raleway-regular-webfont.eot');
    src: url('fonts/raleway/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/raleway/raleway-regular-webfont.woff2') format('woff2'),
    url('fonts/raleway/raleway-regular-webfont.woff') format('woff'),
    url('fonts/raleway/raleway-regular-webfont.ttf') format('truetype'),
    url('fonts/raleway/raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'raleway';
    src: url('fonts/raleway/raleway-thin-webfont.eot');
    src: url('fonts/raleway/raleway-thin-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/raleway/raleway-thin-webfont.woff2') format('woff2'),
    url('fonts/raleway/raleway-thin-webfont.woff') format('woff'),
    url('fonts/raleway/raleway-thin-webfont.ttf') format('truetype'),
    url('fonts/raleway/raleway-thin-webfont.svg#ralewaythin') format('svg');
    font-weight: 100;
    font-style: normal;

}


/* Universal Selectors */
/* Element Selectors */

/* Class, Attribute, and Pseudo Selectors */
body{
    background-color: #D9EDE2;
}

.main-content{
    margin:5%;
    padding:5%;
    background-color: #77C5D2;
}

.gray{
    position: absolute;
    top: 0;
    right: 0;
    min-width: 25%;
    min-height: 100%;
    background-color:rgba(68,72, 84, 0.9);
}

.aside-yellow{
    position: absolute;
    max-width:16%;
    top: 37%;
    padding: 36px 20px 17px 55px;;
    right: 5.5%;
    background-color:rgba(226, 229, 138, 0.8);

}

.title-badge{
    background-color: #E92C48;
    display: block;
    width: 237px;
    padding: 1% 2%;
    font-size: 26px;
    color: #F3CED3;
}

.h1-title{
    color: white;
    text-transform: capitalize;
    font-size: 55px;
    margin-top: 1.5%;
}

.content{
    max-width: 69%;
}

.left-white{
    background-color: rgba(255, 255, 255, 0.8);
    margin-left: -30%;
    padding-right: 9%;
    max-width: 100%;
    padding: 5% 5% 5% 30%;
}

.participation{
    background-color: #DD3B53;
    color: white;
    position: relative;
    display: inline-block;
    width: 35%;
    left: 16%;
    margin-top: 7%;
    padding: 5% 3%;
}

.about{
    background-color: black;
    color: white;
    position: relative;
    width: 35%;
    left: 5%;
    margin-top: 7%;
    padding: 5% 3%;
    display: inline-block;
}

/* ID Selectors */
/* !important Universal Selectors */
/* !important Element Selectors */
/* !important Class, Attribute, and Pseudo Selectors */
/* !important ID Selectors */