@font-face {
    font-family: 'raleway';
    src: url('fonts/raleway/raleway-bold-webfont.eot');
    src: url('fonts/raleway/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/raleway/raleway-bold-webfont.woff2') format('woff2'),
    url('fonts/raleway/raleway-bold-webfont.woff') format('woff'),
    url('fonts/raleway/raleway-bold-webfont.ttf') format('truetype'),
    url('fonts/raleway/raleway-bold-webfont.svg#ralewaybold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'raleway';
    src: url('fonts/raleway/raleway-regular-webfont.eot');
    src: url('fonts/raleway/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/raleway/raleway-regular-webfont.woff2') format('woff2'),
    url('fonts/raleway/raleway-regular-webfont.woff') format('woff'),
    url('fonts/raleway/raleway-regular-webfont.ttf') format('truetype'),
    url('fonts/raleway/raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'raleway';
    src: url('fonts/raleway/raleway-thin-webfont.eot');
    src: url('fonts/raleway/raleway-thin-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/raleway/raleway-thin-webfont.woff2') format('woff2'),
    url('fonts/raleway/raleway-thin-webfont.woff') format('woff'),
    url('fonts/raleway/raleway-thin-webfont.ttf') format('truetype'),
    url('fonts/raleway/raleway-thin-webfont.svg#ralewaythin') format('svg');
    font-weight: 100;
    font-style: normal;

}


/* Universal Selectors */
/* Element Selectors */
body{
    background-color: #D9EDE2;
    font-family: 'raleway';
    counter-reset: section;
}

hr{
    border-color: red;
}
a{
    color: black;
}
ul{
    list-style-type: none;
    padding-left: 0;
}

li{
    margin: 5% 0;
}

h2{
    font-weight: normal;
    font-size: 30px
}

/* Class, Attribute, and Pseudo Selectors */

p::first-letter { 
    font-weight: bold;
}

li{
    color: #9E9F5C;
}

li::after {
    counter-increment: section;
    content: " " counter(section);
}

li:nth-child(odd) {
    font-weight: bold;
}
li:first-child{
    font-weight: normal;
}

.main-content{
    margin:5%;
    padding:5%;
    background-color: #77C5D2;
}

.content{
    max-width: 64%;
}

.gray{
    position: fixed;
    top: 0;
    right: 0;
    min-width: 29.5%;
    min-height: 100%;
    background-color:rgba(68,72, 84, 0.9);
}

.aside-yellow{
    position: absolute;
    max-width: 20.5%;
    top: 20%;
    padding: 3% 3.5% 5% 5%;
    right: 5.5%;
    background-color: rgba(226, 229, 138, 0.9);

}

.title-badge{
    background-color: #E92C48;
    display: block;
    width: 237px;
    padding: 1% 1%;
    font-size: 23px;
    color: #DF808F;
    text-align: center;
}

.h1-title{
    color: white;
    text-transform: capitalize;
    font-size: 45px;
    margin-top: 1.5%;
}

.left-white{
    background-color: rgba(255, 255, 255, 0.8);
    margin-left: -30%;
    margin-top: 7%;
    padding-right: 9%;
    max-width: 100%;
    padding: 5% 5% 5% 30%;
}

.participation{
    background-color: #DD3B53;
    color: white;
    position: relative;
    display: inline-block;
    width: 43%;
    margin-top: 7%;
    padding: 5% 3%;
}

.about{
    overflow: hidden;
    background-color: transparent;
    color: white;
    position: relative;
    width: 44%;
    padding: 14% 3%;
    display: inline-block;
}

.h2-about{
    text-transform: capitalize;
}

.benefits{
    background-color: rgba(255, 255, 255, 0.8);
    position: relative;
    width: 20%;
    padding: 5% 5%;
    /* margin-top: 10%; */
    display: inline-block;
    overflow: hidden; 
    margin-right: -9px;
}

.requeriments{
    background-color: rgba(255, 255, 255, 0.8);
    width: 59.5%;
    position: relative;
    left: 0.5%;
    padding: 6% 5%;
    display: inline-block;
}

.footer{
    background-color: #E7F097;
    padding: 1.5% 5%;
    width: 35%;
}

.upper-case{
    text-transform: uppercase;
    color: #C5E8EC;
    word-spacing: 5px;
}

.author{
    text-transform: uppercase;
    color: #959A9D;
}

/* ID Selectors */
/* !important Universal Selectors */
/* !important Element Selectors */
/* !important Class, Attribute, and Pseudo Selectors */
/* !important ID Selectors */
